<% layout("/layouts/boilerplate") %>
  <div class="row">
    <div class="col-8 offset-2">
      <br />

      <body>
        <h3>Create a new Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label><br />
            <input name="listing[title]" placeholder="Add a Cachy title" type="text" class="form-control" required>
            <div class="valid-feedback"> Title Looks Good!</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label><br />
            <textarea name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please Enter The Short Description</div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label><br />
            <input name="listing[image]" type="file" class="form-control">
            required
          </div>

          <div class="mb-3">
            <label for="country" class="form-label">Country</label><br />
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
            <div class="invalid-feedback">Please Enter The Country Name</div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label><br />
            <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
            <div class="invalid-feedback">Please Enter the Location</div>
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label><br />

            <input name="listing[price]" placeholder="price" class="form-control" required>
            <div class="invalid-feedback">Please Enter Valid Price</div>
          </div>
          <br />

          <button class="btn btn-dark add-btn">Add</button>
          <br />

        </form>
      </body>
    </div>

  </div>